.header {
    background-color: #286af0;
    height: 65px;
}
.header h1{
    margin: 0px!important;
    padding:10px;
    color:black;
}

.footer {
    height: 40px;
    background-color: #286af0;
    text-align: center;
}

.footer p {
    color: white;
    padding-top: 10px;
    text-decoration: underline;
}

.style_nav {
    background-color:white;
    width:15%;
}
.style_nav a {
    border: solid 1px red;
    padding: 15px;
    display: block;
    margin: 10px;
}
.page{
    display:flex;
}
.contenido{
    width: 85%;
    height: calc(100vh - 65px - 40px);
    background-color: #ccc;
}
.imagen{
    text-align:center;
    margin-top:40px;
}
.imagen img{
    width: 300px;
}
